a.new {
    width: 100vw;
    color: yellow;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset > footer {
    font-style: italic;
    color: blue;
}

ul [data-tag="important"] footer{
    color:red;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

li{
    list-style-type: none;
    display: inline-block;
}

textarea{
    width: 100%;
}

fieldset{
    background-color: cadetblue;
}

ul [data-tag="important"] fieldset{
    background-color: orange;
}

ul [data-unsave="1"] fieldset .save{
    animation: blink 1s infinite;
}

@keyframes blink { 
    0% { opacity:0; }
    50% { opacity:1; } 
    100% { opacity:0; }
  }